name: Test

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: extractions/setup-just@v3
    - uses: cargo-bins/cargo-binstall@main
    - name: Install nextest
      run: cargo binstall cargo-nextest --locked
    - name: Install llvm-cov
      run: cargo binstall cargo-llvm-cov --locked
    - name: Run tests
      run: just test
    - name: Codecov
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
        files: ./target/lcov.info
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}